:root {
    --smoke: whitesmoke;
    --purp: #46178f;
    --blue: #1368ce;
    --red: #c60929;
    --yellow: #ffa602;
    --green: #26890c;
}

body {
    background-color: var(--smoke);
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    background-color: white;
    border: 3px var(--purp) solid;
}

#highScores,
#time,
#score {
    font-size: 50px;

}

.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--smoke);
    width: 80%;
    float: left;
    /* height: 40vh; */
}

#questions {
    padding-top: .5rem;
    font-size: 4.5rem;
    width: 80%;
}

#startButton,
#reset,
#stopButton {
    display: block;
    color: white;
    background-color: var(--purp);
    font-size: 3rem;
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 12px;
}

#startButton:hover,
#reset:hover,
#stopButton:hover {
    cursor: pointer;
}

#startButton:active,
#reset:active,
#stopButton:active {
    transform: scale(.98);
}

.aside {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: end;
    width: 20%;
    float: right;
    padding-top: 4rem;
}

.answerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    background-color: var(--smoke);
    width: 100%;

}

.choices {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    margin: 1%;
    color: white;
    background-color: blue;
    width: 47%;
    height: 200px;
    border-radius: 12px;
    padding-left: 1%;
}

.choices:hover {
    cursor: pointer;
}

.choices:active {
    transform: scale(.98);
}

#choice1 {
    background-color: var(--blue);
}

#choice2 {
    background-color: var(--red);
}

#choice3 {
    background-color: var(--green);
}

#choice4 {
    background-color: var(--yellow);
}

.scoresContainer {
    padding: 2%;
    text-align: center;
    background-color: white;
    border: 3px var(--purp) solid;
    /* position: absolute; */
}

form {
    max-height: 1vh;
    margin-bottom: 3rem;
}

#scoreList {
    align-self: center;
}

.hide {
    display: none;
}

#highScores {
    font-size: 3rem;
    color: var(--purp);
    /* background-color: var(--purp); */
    border-bottom: 2px solid ;
}

#highScores:hover {
    font-weight: bold;
    cursor: pointer;
}

#highScores:active {
    transform: scale(.98);
}

form #initials {
     font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}

#submitButton,
#clearScoreButton {
    color: white;
    background-color: var(--purp);
    font-size: 1rem;
    width: 20%;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 12px;
}

#submitButton:hover,
#clearScoreButton:hover {
    cursor: pointer;
}

#submitButton:active,
#clearScoreButton:active {
    transform: scale(.98);
}

li {
    text-align: center;
    list-style: inside;
    list-style-type: auto;
    font-size: 3rem;

}

@media only screen and (max-width: 320px) {
    .aside {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        float: center;
        padding-top: 1rem;
    }

    #startButton,
    #reset,
    #stopButton {
        display: block;
        color: white;
        background-color: var(--purp);
        font-size: 2rem;
        width: 100%;
        padding: 1%;
        margin-bottom: 1%;
        border-radius: 12px;
    }

    #questions {
        padding-top: .5rem;
        padding-left: 1rem;
        font-size: 2rem;
        width: 100%;
        height: 30vh;
    }

    #highScores,
    #time,
    #score {
        font-size: 1rem;

    }

    .choices {
        font-size: 1rem;
        justify-content: baseline;
    }
}