:root {
    --smoke: whitesmoke;
}

header {
    height: 8%;
}

#time {
    font-size: 50px;
    background-color: pink;
}

#highScores {
    text-decoration: underline;
    font-size: 50px;
}

#start {
    color: white;
    background-color: rgb(136, 11, 209);
    font-size: 75px;
    width: 15%;
    border-radius: 12px;
}

#start:hover {
    cursor: pointer;
}

#start:active {
    transform: scale(.98);
}

.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--smoke);
    height: 40%;
}

.answerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    background-color: var(--smoke);
    width: 100%;
}

.choices {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    margin: 20px;
    color: white;
    background-color: blue;
    width: 45%;
    height: 200px;
    border-radius: 12px;
}

.choices:hover {
    cursor: pointer;
}

.choices:active {
    transform: scale(.98);
}

#choice1 {
    background-color: blue;
}

#choice2 {
    background-color: rgb(211, 2, 2);
}

#choice3 {
    background-color: green;
}

#choice4 {
    background-color: rgb(218, 218, 0);
}